body {
    margin: 0;
    padding: 0;
}
.news {
    padding: 20px;
    background-color: antiquewhite;
}
.top_news {
    color: rgb(104, 23, 180);
}
.single-news {
    margin: 5px;
    border-bottom: 1px solid gray;
}
.single_news_description {
    color: #1e0202
}
.single_news_published {
    color: #4b4b4b;
    font-size: 10px;
}